# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Simulators pulled for benchmarking
simulators

#project files
CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
Debug
Devstone.build
Devstone.xcodeproj
cmake_install.cmake
devstone.config
devstone.creator
devstone.creator.user
devstone.files
devstone.includes
